<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>

<body>
    {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    {{/if}}

    {{#if successMessage}}
    <div class="alert alert-success" role="alert">
        {{successMessage}}
    </div>
    {{/if}}
    <div class="container">
        <h3 class="mt-5">Lista de servicios</h3>
        <div class="d-flex justify-content-end">
            <a class="btn btn-success mb-3 mr-5" href="/servicios/guardar-servicio"> Nuevo servicio</a>
        </div>
        <div class="row">
            {{#each servicios}}
            <div class="card mb-3 mr-3" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">{{nombreServicio}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{costoServicio}}</h6>
                    <p class="card-text">{{descripcionServicio}}.</p>
                    <a href="/servicios/actualizar-servicio/{{_id}}">
                        <span class="material-icons">
                            mode_edit
                        </span>
                    </a>
                    <a href="/servicios/eliminar-servicio/{{_id}} ">
                        <span class="material-icons">
                            delete
                        </span>
                    </a>
                </div>
            </div>
            {{else}}
            <div class="card">
                <div class="card-body">
                    <h3> No hay coincidencias.</h3>
                    <p> Verifique con su administrador de sistemas.</p>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</body>
</html>